@font-face {
    font-family: "Norse-Bold";
    src: 
        url("./fonts/Norse-Bold.otf")
        format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh; width: 80%;
    display: flex;
}

h2 {
    font-size: 1.4rem;
    margin: 10px 0px;
}

.left,
.right {
    position: relative;
    height: 100%;
}

.left {
    background-color: green;
    width: 40%;
}

.left footer {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
}

.left img {
    height: 100%; 
}

.odin-hero {
    display: flex;
    height: 150px; width: 100%;
    /* rbga instead of opacity prevents inheriting opacity to logo and h1 */
    background-color: rgba(0, 0, 0, .5); 
    position: absolute;
    top: 25%;
    justify-content: center;
    align-items: center;
}

.odin-hero img {
    height: 80%;
}

.odin-hero h1 {
    font-family: Norse-Bold;
    font-size: 100px;
    color: white;
}

.right {
    width: 60%;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
}

.right > div {
    height: 33%;
    padding: 10px 50px;
}

.header:first-child {
    padding-top: 12%;
    padding-right: 20%;
}

.main {
    height: 20%;
    background-color: white;
    box-shadow: 0 2px 2px lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

form label {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    color: grey;
    margin-bottom: 2px;
}

form input {
    height: 30px; width: 225px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    appearance: none;
    margin-bottom: 20px;
    font-size: .95rem;
    padding: 3px 6px;
    /* never forget, outline: none enables 
    changing border color on focus*/
    outline: none;
}

form input:hover {
    box-shadow: 1px 1px 2px lightgrey;
    border: 1px solid lightgray;
}

form input:focus {
    border: 1px solid blue;
    box-shadow: 1px 1px 2px lightgrey;
}

.footer a {
    color: #596D48;
    font-weight: 800;
    text-decoration: none;
}

.footer button {
    margin-top: 30px;
    background-color: #596D48;
    color: white;
    font-size: 16px;
    font-weight: 800;
    border: 1px solid #596D48;
    border-radius: 6px;
    padding: 12px 30px;
    margin-bottom: 30px;
}